@use "../scss/utils/_variables.scss" as *;
.burger-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: #fff;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.4s ease;
  z-index: 100;
  overflow-y: auto;

  padding: 120px 30px;

  &.active {
    opacity: 1;
    transform: translateX(0);
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__menu-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__menu-tem-link {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    color: color(text2);
    transition: color 0.4s ease;
    &:hover {
      color: color(osnovnoy);
    }
    @media (min-width: $bp-tablet) {
      font-size: 20px;
    }
  }

  &__menu-tem-link-sub {
    display: flex;
    align-items: center;
    gap: 2px;
    transition: color 0.4s ease;
    &::after {
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      border-right: 1px solid color(text2);
      border-bottom: 1px solid color(text2);
      transform: rotate(45deg);
      margin-left: 5px;
      margin-top: -5px;
      transition: all 0.4s ease;
    }

    &:hover {
      color: color(osnovnoy);
    }
  }

  &__sub-menu-list {
    display: none;
    flex-direction: column;
    gap: 4px;

    .burger-menu__sub-menu-link {
      line-height: 1.25;
      color: color(text2);
      transition: color 0.4s;

      &:hover {
        color: #00bfa5;
      }
    }
  }
  input:checked + label {
    color: #00bfa5;
  }

  input:checked + label::after {
    content: "";
    width: 16px;
    height: 1px;
    background-color: #00bfa5;
    border: none;
    transform: none;
  }

  input:checked ~ .burger-menu__sub-menu-list {
    display: flex;
  }

  &__text-content {
    background: color(fon2);
    padding: 52px 41px;
    margin-top: 137px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #cfdfe5;
  }
  &__text-content-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 0.8;
    margin-bottom: 7px;
    @media (min-width: $bp-tablet) {
      font-size: 20px;
    }
  }
  &__text-content-subtitle {
    font-size: 12px;
    line-height: 1.14;
    opacity: 0.7;
    margin-bottom: 25px;
    @media (min-width: $bp-tablet) {
      font-size: 14px;
    }
  }
  &__text-content-btn {
    border-radius: 16px;
    padding: 11px 24px;
    width: 218px;
    height: 48px;
    background-color: color(osnovnoy-2);
    border: none;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: color(belyy);
    transition: background-color 0.4s ease;
    &:hover {
      background-color: #f72056;
    }
    @media (min-width: $bp-tablet) {
      font-size: 16px;
    }
  }
}
