@use "../scss/utils/_variables.scss" as *;

.footer {
  background: color(fon3);
  padding: 50px 0 27px;

  &__container {
    padding: 0 15px;
    @media (min-width: $bp-tablet) {
      padding: 0 30px;
    }
    @media (min-width: $bp-laptop) {
      padding: 0 70px;
    }
    @media (min-width: $bp-desktop) {
      padding: 0 254px;
    }
  }

  &__title-wrapper {
    display: flex;
    flex-direction: column;
    @media (min-width: $bp-tablet) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 10px;
    @media (min-width: $bp-tablet) {
      width: 80%;
    }
    @media (min-width: $bp-laptop) {
      font-size: 16px;
    }
  }

  &__soc-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    background: linear-gradient(
      225deg,
      #feda75 0%,
      #fa7e1e 33.36%,
      #d62976 58.15%,
      #962fbf 80.66%,
      #4f5bd5 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 20px;
    @media (min-width: $bp-tablet) {
      margin-bottom: 0;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 1.43;
    color: color(text2);
    @media (min-width: $bp-tablet) {
      width: 77%;
    }
  }

  &__line {
    width: 100%;
    height: 1px;
    background: color(grani);
    margin: 20px 0 16px;
    @media (min-width: $bp-laptop) {
      margin: 38px 0 16px;
    }
  }

  &__copyright-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__copyright-text {
    font-size: 14px;
    line-height: 1.43;
    color: color(text3);
  }

  &__copyright-policy {
    font-size: 14px;
    line-height: 1.43;
    color: color(temnyy-osnovnoy);
  }
}
