@use "../scss/utils/_variables.scss" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: color(fon2);
  padding: 16px 0;
  width: 100%;
  border-bottom: 1px solid #cfdfe5;
  @media (min-width: $bp-tablet) {
    padding: 30px 0;
  }
  @media (min-width: $bp-laptop) {
    padding: 0;
  }

  &__container {
    padding: 0 15px;
    @media (min-width: $bp-tablet) {
      padding: 0 30px;
    }
    @media (min-width: $bp-laptop) {
      padding: 0 39px 0 37px;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (min-width: $bp-laptop) {
      display: grid;
      grid-template-columns: 263px 1fr 491px 212px;
    }
  }
  &__logo-link {
    display: flex;
    align-items: center;
    gap: 4px;
    @media (min-width: $bp-laptop) {
      padding: 16px 0 24px;
    }

    img {
      width: 95px;
      @media (min-width: $bp-tablet) {
        width: 120px;
      }
    }
  }
  &__logo-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }
  &__logo-icon-cat {
    fill: color(logo);
    @media (min-width: $bp-tablet) {
      width: 94px;
      height: 23px;
    }
  }
  &__logo-icon-text {
    fill: color(logo);
    @media (min-width: $bp-tablet) {
      width: 84px;
      height: 20px;
    }
  }
  &__search {
    display: none;
    @media (min-width: $bp-laptop) {
      display: flex;
      align-items: center;
      gap: 8px;
      background-color: color(belyy);
      padding: 35px 0 37px 40px;
      border-inline: 1px solid #cfdfe5;
      svg {
        fill: color(text4);
      }
      input {
        width: 100%;
        font-size: 16px;
        line-height: 1.5;
        color: color(text4);
        border: none;
        outline: none;

        &::placeholder {
          font-size: 16px;
          line-height: 1.5;
          color: color(text4);
        }
      }
    }
  }
  &__address {
    display: none;
    @media (min-width: $bp-laptop) {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 19px 30px 41px;
      border-right: 1px solid #cfdfe5;
      gap: 25px;
    }
    @media (min-width: $bp-desktop) {
      gap: 37px;
      padding: 13px 52px 41px 41px;
    }
  }
  &__box {
    display: flex;
    flex-direction: column;
  }
  &__address-street {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
  }
  &__address-area {
    font-size: 14px;
    line-height: 1.14;
    color: color(text2);
  }
  &__contact {
    display: none;
    @media (min-width: $bp-laptop) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-left: 30px;
    }
    @media (min-width: $bp-desktop) {
      padding-left: 40px;
    }
  }
  &__tel-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.06em;
    color: color(text1);
  }
  &__order-call {
    background-color: transparent;
    border: none;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: color(osnovnoy-2);
    padding: 0;
  }
  &__burger-menu {
    width: 30px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    @media (min-width: $bp-laptop) {
      display: none;
    }

    span {
      position: relative;
      width: 100%;
      height: 3px;
      background-color: #333;
      border-radius: 1px;
      transition: all 0.4s ease;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #333;
        border-radius: 1px;
        transition: all 0.4s ease;
      }

      &::before {
        top: -9px;
      }

      &::after {
        bottom: -9px;
      }
    }
    &.active {
      span {
        background-color: transparent;

        &::before {
          transform: rotate(45deg);
          top: 0;
        }

        &::after {
          transform: rotate(-45deg);
          bottom: 0;
        }
      }
    }
  }
}
