@use "../scss/utils/_variables.scss" as *;

.stories {
  position: relative;
  padding: 90px 0 185px;
  background: color(fon3);
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 180px;
    background-image: url("../img/stories/bg.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
    @media (min-width: $bp-desktop) {
      width: 436px;
      height: 231px;
    }
  }
  @media (min-width: $bp-tablet) {
    padding: 110px 0 200px;
  }
  @media (min-width: $bp-laptop) {
    padding: 110px 0 210px;
  }
  @media (min-width: $bp-desktop) {
    padding: 130px 0 240px;
    height: 936px;
  }

  &__container {
    padding: 0 15px;
    @media (min-width: $bp-tablet) {
      padding: 0 30px;
    }
    @media (min-width: $bp-laptop) {
      padding: 0 70px;
    }
    @media (min-width: $bp-desktop) {
      padding: 0 214px;
    }
  }

  &__title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
    @media (min-width: $bp-tablet) {
      margin-bottom: 50px;
    }
    @media (min-width: $bp-laptop) {
      margin-bottom: 66px;
      flex-direction: row;
      align-items: end;
      gap: 230px;
    }
    @media (min-width: $bp-desktop) {
      gap: 122px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.17;
    margin-bottom: 30px;
    @media (min-width: $bp-tablet) {
      font-size: 42px;
      margin-bottom: 42px;
    }
    @media (min-width: $bp-laptop) {
      font-size: 30px;
      margin-bottom: 0;
      margin-left: 40px;
    }
    @media (min-width: $bp-desktop) {
      font-size: 48px;
    }
  }

  &__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: color(belyy);
    border-radius: 16px;
    padding: 11px 24px;
    width: 205px;
    height: 48px;
    background: color(osnovnoy);
    transition: all 0.4s ease;
    border: none;
    &:hover {
      background: #2bd9bc;
    }
  }

  &__wrapper-list {
    @media (min-width: $bp-laptop) {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
  &__slider-wrapper {
    @media (min-width: $bp-laptop) {
      flex: 1 1 auto;
      min-width: 0;
    }
  }

  &__btn-prev,
  &__btn-next {
    display: none;
    @media (min-width: $bp-laptop) {
      display: block;
      background-color: transparent;
      border: none;
      width: 32px;
      height: 32px;
    }
  }

  &__slide-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 248px;
    img {
      margin-bottom: 13px;
    }
  }

  &__img-wrap {
    flex-shrink: 0;
  }

  &__slide-item-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 12px;
    @media (min-width: $bp-desktop) {
      font-size: 20px;
    }
  }

  &__slide-item-date {
    font-size: 14px;
    line-height: 1.43;
    color: color(text3);
  }
}

.swiper-stories {
  overflow: hidden;
  flex: 1 1 auto;
  min-width: 0;
}
