@use "../scss/utils/_variables.scss" as *;

.all-services {
  background: linear-gradient(90deg, #e8fafa 0%, #dcf2e8 100%);
  padding: 57px 0 100px;
  @media (min-width: $bp-desktop) {
    padding: 57px 0 148px;
  }

  &__container {
    padding: 0 15px;
    @media (min-width: $bp-tablet) {
      padding: 0 30px;
    }
    @media (min-width: $bp-laptop) {
      padding: 0 140px;
    }
    @media (min-width: $bp-desktop) {
      padding: 0 254px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;

    margin-bottom: 5px;
    a {
      color: color(text3);
    }
    svg {
      stroke-width: 1px;
      stroke: color(text3);
      fill: transparent;
    }
    p {
      color: color(text4);
    }
  }
  &__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 1.17;
    margin-bottom: 43px;
    @media (min-width: $bp-desktop) {
      font-size: 48px;
    }
  }
  &__list-icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 40px;
    @media (min-width: $bp-laptop) {
      grid-template-columns: repeat(5, 1fr);
      gap: 0;
    }
    @media (min-width: $bp-desktop) {
      margin-bottom: 59px;
    }
  }
  &__item-list-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: color(osnovnoy);
    width: 100%;
    height: 154px;
    border-radius: 8px;
    transition: background-color 0.4s ease;
    @media (min-width: $bp-laptop) {
      border-radius: 0;
      border-right: 2px solid color(temnyy-osnovnoy);
      &:first-child {
        border-radius: 8px 0 0 8px;
      }
      &:last-child {
        border-radius: 0 8px 8px 0;
      }
    }

    &:hover {
      background-color: #2bd9bc;
    }
  }
  &__item-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    color: color(belyy);
    @media (min-width: $bp-laptop) {
      font-size: 16px;
    }
    @media (min-width: $bp-desktop) {
      font-size: 20px;
    }
  }

  &__sub-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.17;
    margin-bottom: 30px;
    @media (min-width: $bp-laptop) {
      font-size: 25px;
    }
    @media (min-width: $bp-desktop) {
      font-size: 30px;
    }
  }
  &__all-services-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px 24px;
    @media (min-width: $bp-laptop) {
      grid-template-columns: repeat(4, 1fr);
      gap: 32px 41px;
    }
  }
  &__all-services-item-link {
    font-size: 14px;
    line-height: 1.2;
    color: color(text1);
    @media (min-width: $bp-laptop) {
      font-size: 16px;
    }
    @media (min-width: $bp-desktop) {
      font-size: 20px;
    }
  }
}
