@use "../scss/utils/_variables.scss" as *;

.contact {
  padding: 57px 0 86px;
  @media (min-width: $bp-laptop) {
    padding: 57px 0 99px;
  }

  &__container {
    padding: 0 15px;
    @media (min-width: $bp-tablet) {
      padding: 0 30px;
    }
    @media (min-width: $bp-laptop) {
      padding: 0 70px;
    }
    @media (min-width: $bp-desktop) {
      padding: 0 254px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.17;
    margin-bottom: 30px;
    @media (min-width: $bp-desktop) {
      font-size: 48px;
      margin-bottom: 65px;
    }
  }

  &__map-wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    @media (min-width: $bp-laptop) {
      flex-direction: row;
      gap: 154px;
    }
    @media (min-width: $bp-desktop) {
    }
  }

  &__map {
    width: 100%;
    iframe {
      width: 100%;
      height: 250px;
      border: none;
      @media (min-width: $bp-tablet) {
        height: 350px;
      }
      @media (min-width: $bp-laptop) {
        height: 437px;
      }
    }
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: $bp-tablet) {
      align-items: baseline;
    }
    @media (min-width: $bp-desktop) {
      width: 52%;
    }
  }

  &__tel {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.17;
    margin-bottom: 1px;
    @media (min-width: $bp-desktop) {
      font-size: 30px;
    }
  }

  &__tel-subtext {
    font-size: 12px;
    line-height: 1.43;
    color: color(text2);
    margin-bottom: 8px;
    @media (min-width: $bp-laptop) {
      font-size: 14px;
      margin-bottom: 15px;
    }
  }

  &__mail {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 20px;
    @media (min-width: $bp-laptop) {
      font-size: 20px;
      margin-bottom: 44px;
    }
  }

  &__switch {
    display: flex;
    border-radius: 20px;
    background: color(belyy2);
    box-shadow: inset 0 0 3px 0 rgba(13, 61, 46, 0.4);
    padding: 11px 7px 13px;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
    @media (min-width: $bp-tablet) {
      width: 236px;
    }
    @media (min-width: $bp-laptop) {
      gap: 20px;
      margin-bottom: 8px;
    }

    input[type="radio"] {
      display: none;
    }

    #strogino:checked + label,
    #donskoy:checked + label {
      background: #19c7b3;
      color: #fff;
      padding: 9px;
      font-size: 16px;
    }
  }

  &__name-clinic {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 8px;
    @media (min-width: $bp-laptop) {
      font-size: 20px;
    }
  }

  &__address-clinic {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 18px;
    @media (min-width: $bp-laptop) {
      font-size: 16px;
      margin-bottom: 27px;
    }
  }

  &__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.71;
    text-align: right;
    color: color(osnovnoy);
    display: flex;
    align-items: center;
    gap: 8px;

    svg {
      stroke-width: 2px;
      stroke: color(osnovnoy);
    }
  }

  &__road-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 80px;
    @media (min-width: $bp-tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: $bp-desktop) {
      margin-top: 160px;
      gap: 40px;
    }
  }

  &__item {
    border-radius: 8px;
    box-shadow: inset 0 0 10px 0 rgba(49, 53, 54, 0.05);
    background: linear-gradient(90deg, #e8fafa 0%, #dcf2e8 100%);
    padding: 35px;

    @media (min-width: $bp-desktop) {
      padding: 35px 56px 55px;
      &:last-child {
        padding: 35px 56px 0;
        p {
          margin-bottom: 0;
          width: 416px;
        }
      }
    }
  }

  &__item-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.17;
    margin-bottom: 15px;
    @media (min-width: $bp-desktop) {
      font-size: 30px;
      margin-bottom: 20px;
    }
  }

  &__item-description {
    font-size: 14px;
    line-height: 1.41;
    margin-bottom: 8px;
    @media (min-width: $bp-desktop) {
      font-size: 17px;
      margin-bottom: 12px;
    }
  }

  &__item-text {
    font-size: 14px;
    line-height: 1.41;
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0;
    }
    @media (min-width: $bp-desktop) {
      font-size: 17px;
      margin-bottom: 12px;
    }
  }
}
