@use "../scss/utils/_variables.scss" as *;

.one-services {
  padding: 50px 0 80px;
  @media (min-width: $bp-laptop) {
    padding: 57px 0 112px;
  }
  &__container {
    padding: 0 15px;
    @media (min-width: $bp-tablet) {
      padding: 0 30px;
    }
    @media (min-width: $bp-laptop) {
      padding: 0 70px;
    }
    @media (min-width: $bp-desktop) {
      padding: 0 254px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.17;
    margin-bottom: 32px;
    @media (min-width: $bp-laptop) {
      font-size: 48px;
      margin-bottom: 46px;
    }
  }

  &__img-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 36px;
    @media (min-width: $bp-laptop) {
      flex-direction: row;
      gap: 30px;
    }
    @media (min-width: $bp-desktop) {
      gap: 40px;
    }
  }

  &__btns-wrapper-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    @media (min-width: $bp-laptop) {
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  &__link {
    border: 2px solid color(osnovnoy);
    border-radius: 16px;
    padding-top: 11px;
    width: 203px;
    height: 48px;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.5;
    text-align: center;
    color: color(text2);
    background-color: transparent;
    transition: all 0.4s ease;
    @media (min-width: $bp-tablet) {
      font-size: 16px;
    }
    @media (min-width: $bp-laptop) {
      width: 218px;
    }

    &:hover {
      background: color(osnovnoy);
      color: color(belyy);
    }
  }

  &__info-wrapper {
    @media (min-width: $bp-laptop) {
      width: 79.1%;
    }
    @media (min-width: $bp-desktop) {
      width: 74.1%;
    }
  }

  &__info-wrapper-block-1 {
    margin-bottom: 32px;
    @media (min-width: $bp-laptop) {
      margin-bottom: 44px;
    }
  }
  &__block-1-subtitle {
    font-size: 22px;
    line-height: 1.38;
    margin-bottom: 19px;
    @media (min-width: $bp-laptop) {
      font-size: 26px;
    }
  }

  &__block-1-text {
    font-size: 17px;
    line-height: 1.65;
  }

  &__info-wrapper-block-2 {
    margin-bottom: 32px;
    @media (min-width: $bp-laptop) {
      margin-bottom: 44px;
    }
  }

  &__subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 21px;
    @media (min-width: $bp-laptop) {
      font-size: 30px;
    }
  }

  &__subtitle-text {
    font-size: 15px;
    line-height: 1.65;
    @media (min-width: $bp-laptop) {
      font-size: 17px;
    }
  }

  &__block-2-list {
    margin: 20px 0 20px 16px;
    display: flex;
    flex-direction: column;
    @media (min-width: $bp-laptop) {
      margin: 20px 0 20px 24px;
    }

    li {
      font-size: 14px;
      line-height: 1.65;
      @media (min-width: $bp-laptop) {
        font-size: 17px;
      }
    }
  }

  &__info-wrapper-block-4 {
    p {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__price-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    @media (min-width: $bp-laptop) {
      flex-direction: row;
      gap: 30px;
      align-items: baseline;
    }
    @media (min-width: $bp-desktop) {
      gap: 40px;
      margin-top: 65px;
    }

    h3 {
      margin-bottom: 7px;
    }

    hr {
      width: 100%;
      height: 1px;
      background: color(grani);
      margin: 19px 0 12px;
    }
  }

  &__price-menu {
    border-radius: 8px;
    box-shadow: inset 0 0 10px 0 rgba(49, 53, 54, 0.05);
    background: linear-gradient(90deg, #e8fafa 0%, #dcf2e8 100%);
    padding: 25px 26px 40px;
    margin-bottom: 20px;
    @media (min-width: $bp-tablet) {
      padding: 35px 56px 55px;
    }
    @media (min-width: $bp-laptop) {
      margin-bottom: 0;
    }
  }

  &__price-wrapper-text {
    font-size: 12px;
    line-height: 1.43;
    color: color(text2);
    @media (min-width: $bp-laptop) {
      font-size: 14px;
    }
  }

  &__price-wrapper-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__price-wrapper-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 42px;

    p {
      font-size: 15px;
      line-height: 1.41;
      @media (min-width: $bp-laptop) {
        font-size: 17px;
      }
    }
  }

  &__price-text {
    font-size: 18px;
    line-height: 1.38;
    color: color(osnovnoy);
    @media (min-width: $bp-laptop) {
      font-size: 26px;
    }
  }

  &__personal-wrapper {
    margin-top: 41px;
    @media (min-width: $bp-desktop) {
      margin: 91px -40px 0;
    }
  }

  &__personal-title-wrapper {
    display: flex;
    flex-direction: column;
    @media (min-width: $bp-laptop) {
      flex-direction: row;
      gap: 145px;
      margin-bottom: 44px;

      h3 {
        margin-bottom: 0;
        margin-left: 40px;
      }
    }
    @media (min-width: $bp-desktop) {
      gap: 334px;
    }
  }

  &__btns-wrapper {
    display: flex;
    border-radius: 20px;
    background: color(belyy2);
    box-shadow: inset 0 0 3px 0 rgba(13, 61, 46, 0.4);
    padding: 11px 24px 13px;
    gap: 20px;
    width: 236px;
    height: 48px;
    align-items: center;
    margin-bottom: 25px;
    @media (min-width: $bp-tablet) {
      width: 236px;
    }
    @media (min-width: $bp-laptop) {
      gap: 20px;
      margin-bottom: 0;
    }

    input[type="radio"] {
      display: none;
    }

    #strogino:checked + label,
    #donskoy:checked + label {
      background: #19c7b3;
      color: #fff;
      padding: 7px 20px 9px;
    }
  }

  &__btn-checked {
    border-radius: 16px;
    cursor: pointer;
    font-size: 14px;
    color: #555;
    transition: background 0.4s, color 0.4s;
    margin-bottom: 0;
    @media (min-width: $bp-laptop) {
      font-size: 16px;
    }
  }
}
