<section class="all-services">
  <div class="all-services__container container">
    <div class="all-services__nav">
      <a href="index.html">Главная</a>
      <svg width="15" height="8">
        <use href="@img/sprite.svg#popular_services--aroww-nav"></use>
      </svg>
      <p>Наши услуги</p>
    </div>
    <h2 class="all-services__title">Услуги клиники</h2>
    <ul class="all-services__list-icons">
      <li class="all-services__item-list-icons">
        <a href="" class="all-services__item-link">
          <img src="@img/popular services/icon-1.svg" alt="Icon" />
          Вакцинация
        </a>
      </li>
      <li class="all-services__item-list-icons">
        <a href="" class="all-services__item-link">
          <img src="@img/popular services/icon-2.svg" alt="Icon" />
          Кастрация
        </a>
      </li>
      <li class="all-services__item-list-icons">
        <a href="" class="all-services__item-link">
          <img src="@img/popular services/icon-3.svg" alt="Icon" />
          Стационар
        </a>
      </li>
      <li class="all-services__item-list-icons">
        <a href="" class="all-services__item-link">
          <img src="@img/popular services/icon-4.svg" alt="Icon" />
          Зоогостиница
        </a>
      </li>
      <li class="all-services__item-list-icons">
        <a href="" class="all-services__item-link">
          <img src="@img/popular services/icon-5.svg" alt="Icon" />
          Врач на дом
        </a>
      </li>
    </ul>
    <h3 class="all-services__sub-title">Все услуги</h3>
    <ul class="all-services__all-services-list">
      <li class="all-services__all-services-item">
        <a href="one-services.html" class="all-services__all-services-item-link"
          >Вакцинация</a
        >
      </li>
      <li class="all-services__all-services-item">
        <a href="one-services.html" class="all-services__all-services-item-link"
          >Зоомагазин</a
        >
      </li>
      <li class="all-services__all-services-item">
        <a href="one-services.html" class="all-services__all-services-item-link"
          >Офтальмология</a
        >
      </li>
      <li class="all-services__all-services-item">
        <a href="one-services.html" class="all-services__all-services-item-link"
          >Терапия</a
        >
      </li>
      <li class="all-services__all-services-item">
        <a href="one-services.html" class="all-services__all-services-item-link"
          >Ветаптека</a
        >
      </li>
      <li class="all-services__all-services-item">
        <a href="one-services.html" class="all-services__all-services-item-link"
          >Кардиология</a
        >
      </li>
      <li class="all-services__all-services-item">
        <a href="one-services.html" class="all-services__all-services-item-link"
          >Реанимация <br />
          и интенсивная <br />
          терапия</a
        >
      </li>
      <li class="all-services__all-services-item">
        <a href="one-services.html" class="all-services__all-services-item-link"
          >Травматология</a
        >
      </li>
      <li class="all-services__all-services-item">
        <a href="one-services.html" class="all-services__all-services-item-link"
          >Врач на дом</a
        >
      </li>
      <li class="all-services__all-services-item">
        <a href="one-services.html" class="all-services__all-services-item-link"
          >Кастрация</a
        >
      </li>
      <li class="all-services__all-services-item">
        <a href="one-services.html" class="all-services__all-services-item-link"
          >УЗИ</a
        >
      </li>
      <li class="all-services__all-services-item">
        <a href="one-services.html" class="all-services__all-services-item-link"
          >Гастроэнтерология</a
        >
      </li>
      <li class="all-services__all-services-item">
        <a href="one-services.html" class="all-services__all-services-item-link"
          >Лаборатория</a
        >
      </li>
      <li class="all-services__all-services-item">
        <a href="one-services.html" class="all-services__all-services-item-link"
          >Рентген</a
        >
      </li>
      <li class="all-services__all-services-item">
        <a href="one-services.html" class="all-services__all-services-item-link"
          >Хирургия</a
        >
      </li>
      <li class="all-services__all-services-item">
        <a href="one-services.html" class="all-services__all-services-item-link"
          >Груминг</a
        >
      </li>
      <li class="all-services__all-services-item">
        <a href="one-services.html" class="all-services__all-services-item-link"
          >Нефрология</a
        >
      </li>
      <li class="all-services__all-services-item">
        <a href="one-services.html" class="all-services__all-services-item-link"
          >Репродуктология</a
        >
      </li>
      <li class="all-services__all-services-item">
        <a href="one-services.html" class="all-services__all-services-item-link"
          >Эвтаназия</a
        >
      </li>
      <li class="all-services__all-services-item">
        <a href="one-services.html" class="all-services__all-services-item-link"
          >Дерматология</a
        >
      </li>
      <li class="all-services__all-services-item">
        <a href="one-services.html" class="all-services__all-services-item-link"
          >Онкология</a
        >
      </li>
      <li class="all-services__all-services-item">
        <a href="one-services.html" class="all-services__all-services-item-link"
          >Стационар</a
        >
      </li>
      <li class="all-services__all-services-item">
        <a href="one-services.html" class="all-services__all-services-item-link"
          >Эндокринология</a
        >
      </li>
      <li class="all-services__all-services-item">
        <a href="one-services.html" class="all-services__all-services-item-link"
          >Зоогостиница</a
        >
      </li>
      <li class="all-services__all-services-item">
        <a href="one-services.html" class="all-services__all-services-item-link"
          >Ортопедия</a
        >
      </li>
      <li class="all-services__all-services-item">
        <a href="one-services.html" class="all-services__all-services-item-link"
          >Стоматология</a
        >
      </li>
    </ul>
  </div>
</section>
