<div class="burger-menu">
  <nav class="burger-menu__menu">
    <ul class="burger-menu__menu-list">
      <li class="burger-menu__menu-item">
        <a href="" class="burger-menu__menu-tem-link"> Наши услуги </a>
      </li>
      <li class="burger-menu__menu-item">
        <a href="" class="burger-menu__menu-tem-link"> Стоимость </a>
      </li>
      <li class="burger-menu__menu-item">
        <a href="" class="burger-menu__menu-tem-link"> Сотрудники </a>
      </li>
      <li class="burger-menu__menu-item">
        <a href="" class="burger-menu__menu-tem-link"> График работы </a>
      </li>
      <li class="burger-menu__menu-item burger-menu__sub-menu">
        <input type="checkbox" id="submenu-1" hidden />
        <label
          for="submenu-1"
          class="burger-menu__menu-tem-link burger-menu__menu-tem-link-sub"
        >
          О клинике
        </label>
        <ul class="burger-menu__sub-menu-list">
          <li><a href="" class="burger-menu__sub-menu-link">Наша миссия</a></li>
          <li><a href="" class="burger-menu__sub-menu-link">Фотогалерея</a></li>
          <li><a href="" class="burger-menu__sub-menu-link">Отзывы</a></li>
        </ul>
      </li>
      <li class="burger-menu__menu-item burger-menu__sub-menu">
        <input type="checkbox" id="submenu-2" hidden />
        <label
          for="submenu-2"
          class="burger-menu__menu-tem-link burger-menu__menu-tem-link-sub"
        >
          Полезное
        </label>
        <ul class="burger-menu__sub-menu-list">
          <li>
            <a href="" class="burger-menu__sub-menu-link">Истории пациентов</a>
          </li>
          <li><a href="" class="burger-menu__sub-menu-link">Статьи</a></li>
        </ul>
      </li>
      <li class="burger-menu__menu-item">
        <a href="" class="burger-menu__menu-tem-link"> Контакты </a>
      </li>
    </ul>
  </nav>
  <div class="burger-menu__text-content">
    <p class="burger-menu__text-content-title">Работаем для вас</p>
    <p class="burger-menu__text-content-subtitle">ежедневно и круглосуточно</p>
    <button class="burger-menu__text-content-btn">Записаться на прием</button>
  </div>
</div>
