<footer class="footer">
  <div class="footer__container container">
    <div class="footer__title-wrapper">
      <div class="footer__text-wrapper">
        <h2 class="footer__title">
          Подпишитесь, чтобы быть в курсе всех акций и новостей
        </h2>
        <a href="#" class="footer__soc-link">
          <img src="@img/footer/insta.svg" alt="Imgage instagram" />

          vetket.clinic
        </a>
      </div>
      <p class="footer__text">
        Обращаем Ваше внимание на то, что данный интернет-сайт носит
        исключительно информационный характер и не является публичной офертой,
        определяемой положениями ч.2 ст.37 Гражданского кодекса Украины. Для
        получения подробной информации о стоимости и сроках выполнения услуг,
        пожалуйста, обращайтесь к сотрудникам ветеринарного центра «ВетКэт».
      </p>
    </div>
    <hr class="footer__line" />
    <div class="footer__copyright-wrapper">
      <p class="footer__copyright-text">
        © Ветеринарный центр «ВетКэт». Все права защищены. 2020
      </p>
      <a href="#" class="footer__copyright-policy"
        >Политика конфиденциальности</a
      >
    </div>
  </div>
</footer>
