<section class="hero">
  <div class="hero__title-container">
    <h1 class="hero__title">
      Ветеринарный центр, <br />
      на который вы можете <br />
      рассчитывать 24/7
    </h1>
    <ul class="hero__list">
      <li class="hero__item">
        <p class="hero__text">
          Придерживаемся принципов доказательной медицины
        </p>
      </li>
      <li class="hero__item">
        <p class="hero__text">
          Врач никогда не пытается применить ко всем единую методику
        </p>
      </li>
      <li class="hero__item">
        <p class="hero__text">Каждый случай уникален</p>
      </li>
    </ul>
  </div>
</section>
