<section class="instagram">
  <div class="instagram__container container">
    <div class="instagram__hearts">
      <img
        class="instagram__hearts-big"
        src="@img/instagram/heart-big.svg"
        alt="Imgage-hearts"
      />
      <img
        class="instagram__hearts-average"
        src="@img/instagram/heart-average.svg"
        alt="Imgage-hearts"
      />
      <img
        class="instagram__hearts-small"
        src="@img/instagram/heart-small.svg"
        alt="Imgage-hearts"
      />
      <img
        class="instagram__hearts-small-very"
        src="@img/instagram/heart-small-very.svg"
        alt="Imgage-hearts"
      />
    </div>
    <h2 class="instagram__title">Мы в Инстаграм</h2>
    <div class="instagram__content-wrapper">
      <div class="instagram__left-img">
        <img src="@img/instagram/img-1.webp" alt="Image" />
        <div class="instagram__left-icon">
          <div class="instagram__left-link">
            <div class="instagram__follower">
              <img src="@img/instagram/follower.svg" alt="Icon" />
              553
            </div>
            <a href="#" class="instagram__follower-link"
              >Перейти
              <img src="@img/instagram/arrow.svg" alt="Arrow-icon" />
            </a>
          </div>
          <img src="@img/instagram/img-2.webp" alt="Image" />
        </div>
      </div>

      <div class="instagram__right-img">
        <div class="instagram__right-icon">
          <img src="@img/instagram/icon-instgram.svg" alt="Icon instagram" />
        </div>
        <img src="@img/instagram/img-4.png" alt="Image" />
        <img src="@img/instagram/img-3.png" alt="Image" />
      </div>
    </div>
  </div>
</section>
