<section class="popular-services">
  <div class="popular-services__container container">
    <div class="popular-services__title-wrapper">
      <h2 class="popular-services__title">
        Популярные услуги <br />
        для ваших питомцев
      </h2>
      <div class="popular-services__btns-wrapper">
        <a href="#" class="popular-services__link">Смотреть все цены</a>
        <a href="services.html" class="popular-services__link">Смотреть все услуги</a>
      </div>
    </div>
    <div class="popular-services__slider-wrapper">
      <button class="popular-services__btn-prev">
        <svg  width="32" height="32">
          <use href="@img/sprite.svg#popular_services--prev-icon"></use>
        </svg>
      </button>
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="popular-services__slide-item">
              <h3 class="popular-services__slide-item-title">Терапия</h3>
              <p class="popular-services__slide-item-text">
                Первичная диагностика и симптоматическое лечение, консультации
                по содержанию и кормлению домашних животных.
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="popular-services__slide-item">
              <h3 class="popular-services__slide-item-title">Хирургия</h3>
              <p class="popular-services__slide-item-text">
                Проведение широкого спектра хирургических операций различной
                сложности под контролем опытных ветеринаров.
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="popular-services__slide-item">
              <h3 class="popular-services__slide-item-title">Дерматология</h3>
              <p class="popular-services__slide-item-text">
                Диагностика и лечение кожных заболеваний. Забор анализов и
                обследование на современном оборудовании.
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="popular-services__slide-item">
              <h3 class="popular-services__slide-item-title">Терапия</h3>
              <p class="popular-services__slide-item-text">
                Первичная диагностика и симптоматическое лечение, консультации
                по содержанию и кормлению домашних животных.
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="popular-services__slide-item">
              <h3 class="popular-services__slide-item-title">Хирургия</h3>
              <p class="popular-services__slide-item-text">
                Проведение широкого спектра хирургических операций различной
                сложности под контролем опытных ветеринаров.
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="popular-services__slide-item">
              <h3 class="popular-services__slide-item-title">Дерматология</h3>
              <p class="popular-services__slide-item-text">
                Диагностика и лечение кожных заболеваний. Забор анализов и
                обследование на современном оборудовании.
              </p>
            </div>
          </div>
        </div>
      </div>
      <button class="popular-services__btn-next">
        <svg class="header__search-icon" width="32" height="32">
          <use href="@img/sprite.svg#popular_services--next-icon"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
