<aside class="side-bar">
  <nav class="side-bar__menu">
    <ul class="side-bar__menu-list">
      <li class="side-bar__menu-item">
        <a href="" class="side-bar__menu-tem-link"> Наши услуги </a>
      </li>
      <li class="side-bar__menu-item">
        <a href="" class="side-bar__menu-tem-link"> Стоимость </a>
      </li>
      <li class="side-bar__menu-item">
        <a href="" class="side-bar__menu-tem-link"> Сотрудники </a>
      </li>
      <li class="side-bar__menu-item">
        <a href="" class="side-bar__menu-tem-link"> График работы </a>
      </li>
      <li class="side-bar__menu-item side-bar__sub-menu">
        <input type="checkbox" id="submenu-3" hidden />
        <label
          for="submenu-3"
          class="side-bar__menu-tem-link side-bar__menu-tem-link-sub"
        >
          О клинике
        </label>
        <ul class="side-bar__sub-menu-list">
          <li><a href="" class="side-bar__sub-menu-link">Наша миссия</a></li>
          <li><a href="" class="side-bar__sub-menu-link">Фотогалерея</a></li>
          <li><a href="" class="side-bar__sub-menu-link">Отзывы</a></li>
        </ul>
      </li>
      <li class="side-bar__menu-item side-bar__sub-menu">
        <input type="checkbox" id="submenu-4" hidden />
        <label
          for="submenu-4"
          class="side-bar__menu-tem-link side-bar__menu-tem-link-sub"
        >
          Полезное
        </label>
        <ul class="side-bar__sub-menu-list">
          <li>
            <a href="" class="side-bar__sub-menu-link">Истории пациентов</a>
          </li>
          <li><a href="" class="side-bar__sub-menu-link">Статьи</a></li>
        </ul>
      </li>
      <li class="side-bar__menu-item">
        <a href="" class="side-bar__menu-tem-link"> Контакты </a>
      </li>
    </ul>
  </nav>
  <div class="side-bar__text-content">
    <p class="side-bar__text-content-title">Работаем для вас</p>
    <p class="side-bar__text-content-subtitle">ежедневно и круглосуточно</p>
    <button class="side-bar__text-content-btn">Записаться на прием</button>
  </div>
</aside>
