<section class="stories">
  <div class="stories__container container">
    <div class="stories__title-wrapper">
      <h2 class="stories__title">
        Истории больших и маленьких <br />
        пациентов, которым мы помогли
      </h2>
      <a href="" class="stories__link">Читать все истории</a>
    </div>
    <div class="stories__wrapper-list">
      <button class="stories__btn-prev">
        <svg width="32" height="32">
          <use href="@img/sprite.svg#popular_services--prev-icon"></use>
        </svg>
      </button>
      <div class="stories__slider-wrapper">
        <div class="swiper-stories">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="stories__slide-item">
                <img src="@img/stories/img-1.webp" alt="Image animal" />
                <p class="stories__slide-item-text">
                  Непростое лечение перелома нижней челюсти у кошки Маруськи
                </p>
                <p class="our-specialist__slide-item-date">21.06.2020</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="stories__slide-item">
                <img src="@img/stories/img-2.webp" alt="Image animal" />
                <p class="stories__slide-item-text">
                  Отравление немытым виноградом у пекинеса Гремлина
                </p>
                <p class="our-specialist__slide-item-date">21.06.2020</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="stories__slide-item">
                <img src="@img/stories/img-3.webp" alt="Image animal" />
                <p class="stories__slide-item-text">
                  Патологические роды и кесарево сечение у крысы Анфисы
                </p>
                <p class="our-specialist__slide-item-date">21.06.2020</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="stories__slide-item">
                <img src="@img/stories/img-4.webp" alt="Image animal" />
                <p class="stories__slide-item-text">
                  Острый панкреатит у йоркширского терьера Луи II Саксонского
                </p>
                <p class="our-specialist__slide-item-date">21.06.2020</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="stories__slide-item">
                <img src="@img/stories/img-1.webp" alt="Image animal" />
                <p class="stories__slide-item-text">
                  Непростое лечение перелома нижней челюсти у кошки Маруськи
                </p>
                <p class="our-specialist__slide-item-date">21.06.2020</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="stories__slide-item">
                <img src="@img/stories/img-2.webp" alt="Image animal" />
                <p class="stories__slide-item-text">
                  Отравление немытым виноградом у пекинеса Гремлина
                </p>
                <p class="our-specialist__slide-item-date">21.06.2020</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="stories__slide-item">
                <img src="@img/stories/img-3.webp" alt="Image animal" />
                <p class="stories__slide-item-text">
                  Патологические роды и кесарево сечение у крысы Анфисы
                </p>
                <p class="our-specialist__slide-item-date">21.06.2020</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="stories__slide-item">
                <img src="@img/stories/img-4.webp" alt="Image animal" />
                <p class="stories__slide-item-text">
                  Острый панкреатит у йоркширского терьера Луи II Саксонского
                </p>
                <p class="our-specialist__slide-item-date">21.06.2020</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="stories__btn-next">
        <svg class="header__search-icon" width="32" height="32">
          <use href="@img/sprite.svg#popular_services--next-icon"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
