@use "../scss/utils/_variables.scss" as *;

.contacts {
  padding: 60px 0 78px;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 27px;
    height: 34px;
    z-index: 2;
    @media (min-width: $bp-desktop) {
      width: 64px;
      height: 64px;
    }
  }
  &::before {
    background: url("../img/contacts/tag-1.svg") no-repeat center / contain;
    top: 24%;
    left: 29%;
    @media (min-width: $bp-tablet) {
      top: 41%;
      left: 22%;
    }
    @media (min-width: $bp-desktop) {
      top: 40%;
      left: 28%;
    }
  }
  &::after {
    background: url("../img/contacts/tag-2.svg") no-repeat center / contain;
    top: 32%;
    left: 64%;
    @media (min-width: $bp-tablet) {
      top: 60%;
      left: 43%;
    }
    @media (min-width: $bp-desktop) {
      top: 62%;
      left: 40%;
    }
  }
  @media (min-width: $bp-desktop) {
    padding: 138px 0 128px;
  }

  &__container {
    padding: 0 15px;
    @media (min-width: $bp-tablet) {
      padding: 0 30px;
    }
    @media (min-width: $bp-laptop) {
      padding: 0 70px;
    }
    @media (min-width: $bp-desktop) {
      padding: 0 254px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.17;
    margin-bottom: 28px;
    @media (min-width: $bp-tablet) {
      font-size: 36px;
      margin-bottom: 38px;
    }
    @media (min-width: $bp-laptop) {
      font-size: 42px;
    }
    @media (min-width: $bp-desktop) {
      font-size: 48px;
    }
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    @media (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 10px;
      @media (min-width: $bp-laptop) {
        gap: 30px;
      }
      @media (min-width: $bp-desktop) {
        gap: 40px;
      }
    }

    iframe {
      width: 100%;
      height: 250px;
      border: none;
      border-radius: 8px;
      @media (min-width: $bp-tablet) {
        height: 490px;
      }
      @media (min-width: $bp-desktop) {
        height: 536px;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: $bp-laptop) {
      align-items: flex-start;
    }
    @media (min-width: $bp-desktop) {
      margin-top: 27px;
    }
  }

  &__tel {
    font-weight: 700;
    font-size: 23px;
    line-height: 1.17;
    @media (min-width: $bp-desktop) {
      font-size: 30px;
      margin-bottom: 2px;
    }
  }

  &__tel-text {
    font-size: 14px;
    line-height: 1.65;
    color: color(text3);
    margin-bottom: 29px;
    @media (min-width: $bp-desktop) {
      font-size: 17px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
  }

  &__item {
    border-radius: 8px;
    background: linear-gradient(90deg, #e8fafa 0%, #dcf2e8 100%);
    padding: 19px 45px 59px 24px;
    position: relative;
    @media (min-width: $bp-laptop) {
      width: 344px;
      height: 128px;
    }

    &::after {
      content: "";
      position: absolute;
      right: 20px;
      bottom: -7px;
      width: 38px;
      height: 57px;
      pointer-events: none;
      @media (min-width: $bp-laptop) {
        width: 56px;
        height: 64px;
      }
    }
    &:nth-child(1)::after {
      background: url("../img/contacts/num-1.svg") no-repeat center / contain;
    }
    &:nth-child(2)::after {
      background: url("../img/contacts/num-2.svg") no-repeat center / contain;
    }
  }

  &__address {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 10px;
  }

  &__area {
    font-size: 14px;
    line-height: 1.14;
    color: color(text2);
  }

  &__link {
    border-radius: 16px;
    padding: 11px 24px;
    width: 229px;
    height: 48px;
    background: color(osnovnoy);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: color(belyy);
    transition: all 0.4s ease;
    @media (min-width: $bp-desktop) {
      font-size: 16px;
    }

    &:hover {
      background: #2bd9bc;
    }
  }
}
