@use "../scss/utils/_variables.scss" as *;

.layout {
  display: flex;
  min-height: 100%;
}
main {
  flex: 1;
  overflow: hidden;
}

.hero {
  position: relative;
  background: linear-gradient(90deg, #e8fafa 0%, #dcf2e8 100%);
  padding: 50px 0 80px 25px;
  overflow: hidden;
  height: 613px;
  @media (min-width: $bp-tablet) {
    padding: 70px 0 100px 50px;
  }
  @media (min-width: $bp-laptop) {
    padding: 113px 0 174px 200px;
  }
  @media (min-width: $bp-desktop) {
    padding: 113px 0 174px 254px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url("../img/hero/puppy.webp");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
  }

  &__title-container {
    position: relative;
    z-index: 1;
  }
  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.19;
    margin-bottom: 34px;
    @media (min-width: $bp-tablet) {
      font-size: 28px;
    }
    @media (min-width: $bp-laptop) {
      font-size: 44px;
    }
    @media (min-width: $bp-laptop) {
      font-size: 64px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    li {
      position: relative;
      display: flex;
      align-items: center;

      &::before {
        content: "";
        position: absolute;
        left: -9px;
        top: 50%;
        transform: translateY(-50%);
        width: 6px;
        height: 6px;
        background-color: #1dc4b0;
      }
    }
  }
  &__text {
    font-weight: 400;
    font-size: 11px;
    line-height: 1.8;
    @media (min-width: $bp-tablet) {
      font-size: 16px;
    }
    @media (min-width: $bp-laptop) {
      font-size: 20px;
    }
  }
}
