@use "../scss/utils/_variables.scss" as *;
.no-scroll {
  overflow: hidden;
}
.gallery-modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(25, 34, 36, 0.9);
  z-index: 30;
  padding: 0 15px;
  @media (min-width: $bp-tablet) {
    padding: 0 30px;
  }

  &.is-open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__close {
    position: absolute;
    top: 32px;
    right: 72px;
    background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
    padding: 0;

    svg {
      fill: color(belyy);
      stroke-width: 2px;
      stroke: color(belyy);
    }
  }

  &__title-wrapper {
    margin-bottom: 82px;
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    color: color(belyy);
    margin-bottom: 10px;
  }

  &__icon-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1px;

    svg {
      fill: color(belyy);
    }
  }

  &__icon-text {
    font-size: 14px;
    line-height: 1.43;
    color: color(text3);
    opacity: 0.8;
  }

  &__mainSwiper {
    width: 100%;
    margin-bottom: 72px;
    @media (min-width: $bp-laptop) {
      width: 46%;
    }
  }

  &__button-prev,
  &__button-next {
    display: none;
    @media (min-width: $bp-laptop) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 33;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 64px;
      height: 64px;
      padding: 0;
      fill: color(belyy);
      border-radius: 16px;
      background: color(osnovnoy);
      border: none;
      flex-shrink: 0;
    }
  }

  &__button-prev {
    left: 100px;
  }

  &__button-next {
    right: 125px;
  }

  .thumbsSwiper .swiper-slide {
    width: 8.6% !important;
  }
  .thumbsSwiper .swiper-slide-thumb-active {
    opacity: 0.6;
    border: 3px solid color(osnovnoy);
  }
}
