@use "../scss/utils/_variables.scss" as *;
*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
button {
  cursor: pointer;
}
svg {
  flex-shrink: 0;
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: color(belyy);
  margin: 0;
  overflow-x: hidden;
}
