@use "./utils/_variables.scss" as *;
@use "./fonts.scss";
@use "./base.scss";

@use "./components/header.scss";
@use "./components/hero.scss";
@use "./components/popular-services.scss";
@use "./components/about-us.scss";
@use "./components/our-specialist.scss";
@use "./components/stories.scss";
@use "./components/blog.scss";
@use "./components/instagram.scss";
@use "./components/contacts.scss";

@use "./components/all-services/all-services.scss";
@use "./components/burger-menu.scss";
@use "./components/side-bar.scss";
