@use "./utils/_variables.scss" as *;
@use "./fonts.scss";
@use "./base.scss";

@use "./components/header.scss";
@use "./sections/home-page/hero.scss";
@use "./sections/home-page/popular-services.scss";
@use "./sections/home-page/about-us.scss";
@use "./sections/home-page/our-specialist.scss";
@use "./sections/home-page/stories.scss";
@use "./sections/home-page/blog.scss";
@use "./sections/home-page/instagram.scss";
@use "./sections/home-page/contacts.scss";
@use "./components/footer.scss";

@use "./sections/all-services/all-services.scss";
@use "./sections/one-services/one-services.scss";
@use "./sections/cost-of-services/cost-of-services.scss";
@use "./sections/contact/contact.scss";
@use "./sections/our-mission/our-mission.scss";
@use "./sections/gallery/gallery.scss";
@use "./sections/gallery/modal-gallery/modal-gallery.scss";

@use "./components/burger-menu.scss";
@use "./components/side-bar.scss";
@use "./components/appointment-modal.scss";
